<%= File.read('boilerplate_top.html') %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><%= d[:field_name] %>: <%= d[:scenario_name] %></h1>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Parameter</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
				  <tr>
				    <td>Field Acreage</td>
				    <td><%= curr(d[:field_area]) %>ac</td>
				  </tr>
				  <tr>
				    <td>Average Yield</td>
				    <td><%= curr(d[:field_avg_yield]) %>bu/ac</td>
				  </tr>
					<tr>
						<td>Profit</td>
						<td class="success">$<%= curr(d[:field_profit_per_acre]) %>/acre</td>
					</tr>
					<tr>
						<td>ROI</td>
						<td><%= d[:field_roi] %> %</td>
					</tr>
					<tr>
						<td>Total Field Expenses</td>
						<td class="danger">$<%= curr(d[:field_expenses]) %></td>
					</tr>
					<tr>
						<td>Total Field Revenue</td>
						<td>$<%= curr(d[:field_revenue]) %></td>
					</tr>
					<tr>
						<td>Total Field Profit</td>
						<td class="success">$<%= curr(d[:field_profit]) %></td>
					</tr>
				</tbody>
			</table>
			<h2><%= d[:scenario_name] %> Profit Map</h2>
			<img src="./reports_files/overall_profit_map.png" class="img-responsive" alt="As Applied Planting Map">

		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<img src="./reports_files/overall_profit_hist.png" class="img-responsive" alt="Chart">
		</div>
		<div class="col-xs-6">
			<img src="./reports_files/overall_profit_pie.png" class="img-responsive" alt="Chart">
		</div>
	</div>
</div>

<%= File.read('boilerplate_bottom.html') %>
