<%= File.read('boilerplate_top.html') %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><%= d[:field_name] %>: <%= d[:scenario_name] %></h1>
			<h2>Yield by Soil Type</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Map Unit Symbol</th>
<!-- Expects a hash in d[:yields] set up like this:
  - :year : 2011
    :crop : CG
    :yields :
      - :soil : 171B
        :yield : 186
      - :soil : 333B
        :yield : 212
  - :year : 2012
    :crop : SB
    :yields :
      - :soil : 171B
        :yield : 56
      - :soil : 333B
        :yield : 49
-->
            <% d[:yields].each do |yld_year| %>
              <th><%= yld_year[:year] %> <%= yld_year[:crop] %> yield (bu/ac)</th>
            <% end %>
					</tr>
				</thead>
				<tbody>
          <% d[:yields][0][:yields].each do |item| %>
            <% soilname = item[:soil] %>
            <tr>
              <td>soilname</td>
              <% d[:yields].each do |yld_year| %>
                <td><%= yld_year[:yields].select{|yld| yld[:soil] == soilname}[:yield] %></td>
              <% end %>
            </tr>
          <% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>

<%= File.read('boilerplate_bottom.html') %>
