<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <title></title>

    <link href="./css/libs/bootstrap.min.css" rel="stylesheet">
    <script src="./js/libs/modernizr-2.7.1.min.js"></script>

    <link href="./css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">

<div class="row">
	<div class="col-xs-12">
		<table class="table table-borderless">
			<tbody>
			<tr>
				<th style="width:185px">Field ID</th>
        <td><%= data[:field_id] %></td>
			</tr>
			<tr>
				<th style="width:185px">Crop Rotation</th>
				<td><%= data[:crop_rotation] %></td>
			</tr>
			<tr>
				<th style="width:185px">Dominant Critical Soil</th>
				<td ><%= data[:dominant_critical_soil] %></td>
			</tr>
			<tbody>
		</table>
		<table class="table">
			<thead>
			<tr>
				<th>Crop Year</th>
        <% data[:crop_year].each do |year| %>
				<th><%= year %></th>
				<% end %>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Crop</th>
        <% data[:crop].each do |cr| %>
				<td><%= cr %></td>
        <% end %>
			</tr>
			<tr>
				<th>Grain Yield</th>
        <% data[:grain_yield].each do |gy| %>
				<td><%= gy.round %></td>
				<% end %>
			</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<table class="table table-small-text table-bordered table-striped">
			<thead>
        <tr>
          <th colspan="4">Management Operations</th>
        </tr>
				<tr>
					<th>Date</th>
					<th>Operation</th>
					<th>Crop</th>
					<th>% Residue Cover</th>
				</tr>
			</thead>
			<tbody>

        <% data[:management_operations].each do |op| %>
				<tr>
					<td><%=op['date'] %></td>
					<td><%=op['operation'] %></td>
					<td><%=op['crop'] %></td>
					<td><%=op['residue_cover'].round %></td>
				</tr>
        <% end %>

			</tbody>
		</table>
	</div>
</div>




<div class="vertical-padding">
	<div class="col-xs-12">
	</div>
</div>


<!-- <div class="dont-break"> -->
  <div class="row dont-break">
    <div class="col-xs-12">
      <table class="table table-small-text table-striped table-bordered">
        <thead>
          <tr>
            <th>Soil Map Unit Symbol</th>
            <th>Tolerable Soil Loss</th>
            <th>Soil Erosion</th>
            <th>Soil Condition Index</th>
            <th>Organic Matter Sub-Factor</th>
            <th>Field Operation Sub-Factor</th>
            <th>Erosion Sub-Factor</th>
          </tr>
        </thead>
        <tbody>

          <% data[:soil_details].each do |sd| %>
          <tr <%= String.new("class=\"rb\"") if sd['domcrit'] %> >
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%=sd['map_unit_symbol']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%i" % sd['tolerable_soil_loss']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%.2f" % sd['erosion']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%.2f" % sd['conditioning_index']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%.2f" % sd['organic_matter_sf']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%.2f" % sd['field_operation_sf']%></td>
            <td <%= String.new("style=\"background-color: #e67777\"") if sd['domcrit'] %> ><%= "%.2f" % sd['erosion_sf']%></td>
          </tr>
          <% end %>

        </tbody>
      </table>
      *The highlighted row(s) is the NRCS dominant critical soil(s)
    </div>
  </div>

  <div class="row dont-break">
    <div class="col-xs-12">
      <table class="table">
        <tbody>
          <tr>
            <th>Soils Map</th>
            <td><img src="../report_data/musym.png" class="soil-map"></td>
            <td>
              <table class="table table-xsmall-text table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Ac</th>
                    <th>Pct</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% data[:soil_map].each do |sm| %>
                  <tr <%= String.new("class=\"rb\"") if sm['domcrit'] %> >
                    <td <%= String.new("style=\"background-color: #e67777\"") if sm['domcrit'] %> ><%= sm['id'] %></td>
                    <td <%= String.new("style=\"background-color: #e67777\"") if sm['domcrit'] %> ><%= "%.1f" % sm['ac'] %></td>
                    <td <%= String.new("style=\"background-color: #e67777\"") if sm['domcrit'] %> ><%= "%.1f" % sm['pct'] %></td>
                    <td  <%= String.new("style=\"background-color: #e67777\"") if sm['domcrit'] %> style="font-size:9px"><%= sm['description'] %></td>
                  </tr>
                  <% end %>

                </tbody>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
<!-- </div> -->


<div class="row dont-break">
	<div class="col-xs-12">
		<table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">Results</th>
        </tr>
      </thead>
			<tbody>
			<tr>
				<th>Dominant Critical Soil</th>
				<td ><%= data[:dominant_critical_soil] %></td>
			</tr>
			<tr>
				<th>Diesel Use</th>
				<td>
				  <div style="float:left;width:50%;"><%= "%.2f" % data[:diesel_use] %> (gal/acre/year)</div>
          <div style="float:right;width:50%;text-align:right;">*Calculated using NRCS assumptions</div>
				</td>
			</tr>
			<tr>
				<th>Water Erosion</th>
				<td><%= "%.2f" % data[:water_erosion] %> (tons/acre/year)</td>
			</tr>
			<tr>
				<th>Wind Erosion</th>
				<td><%= "%.2f" % data[:wind_erosion] %> (tons/acre/year)</td>
			</tr>
			<tr>
				<th>Soil Conditioning Index</th>
				<td><%= "%.2f" % data[:soil_conditioning_index] %></td>
			</tr>
			<tr>
				<th colspan="2">Soil Conditioning Index SubFactors</th>
			</tr>
			<tr>
				<th> - Organic Matter</th>
				<td><%= "%.2f" % data[:organic_matter_sf] %></td>
			</tr>
			<tr>
				<th> - Field Operation</th>
				<td><%= "%.2f" % data[:field_operation_sf] %></td>
			</tr>
			<tr>
				<th> - Erosion</th>
				<td><%= "%.2f" % data[:erosion_sf] %></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
    
		<table class="table">
			<tbody>
			  <tr>
					<th>Digital Elevation Model
					<div></div>
					</th>
					<td><img src="../report_data/dem.png" class="eros-map"></td>
					<!--<td><img src="./images/AntaresTotalErosLegend.png" class="eros-legend"></td>-->
				</tr>
        <tr>
					<th>Total Erosion
					<div></div>
					</th>
					<td><img src="../report_data/toteros.png" class="eros-map"></td>
					<td><img src="./images/AntaresTotalErosLegend.png" class="eros-legend"></td>
				</tr>

        <tr>
					<th>Wind Erosion
					<div></div>
					</th>
					<td><img src="../report_data/winderos.png" class="eros-map"></td>
					<td><img src="./images/AntaresWindErosLegend.png" class="eros-legend"></td>
				</tr>

        <tr>
					<th>Water Erosion
					<div></div>
					</th>
					<td><img src="../report_data/watereros.png" class="eros-map"></td>
					<td><img src="./images/AntaresWaterErosLegend.png" class="eros-legend"></td>
				</tr>

        <tr>
					<th>SCI
					<div></div>
					</th>
					<td><img src="../report_data/sci.png" class="eros-map"></td>
					<td><img src="./images/AntaresSCILegend.png" class="eros-legend"></td>
				</tr>

        <tr>
					<th>SCIOM
					<div></div>
					</th>
					<td><img src="../report_data/sciom.png" class="eros-map"></td>
					<td><img src="./images/AntaresSCIOMLegend.png" class="eros-legend"></td>
				</tr>
				
				<% data[:cb_year].each_with_index do |yr,n| %>
				  <tr>
				    <th>Profit <%= yr %> <%= data[:cb_crop][n] %> 
				      <br> Min: <%= data[:cb_min][n] %>
				      <br> Max: <%= data[:cb_max][n] %>
				      <br> Avg: <%= data[:cb_average][n] %> 
				    <div></div>
				    </th>
				    <td><img src= <%= "../report_data/budget_hist_#{n}.svg" %> class="eros-map" ></td>
				    <td><img src= <%= "../report_data/budget_#{n}.png" %> class="eros-map"></td>
  					<td><img src="./images/ProfitLegendInvertedUnits.png" class="eros-legend"></td>
				  </tr>
				<% end %>
        
			</tbody>
		</table>
	</div>
</div>

</div>

<script src="./js/libs/jquery-2.1.0.min.js"></script>
<script src="./js/libs/bootstrap.min.js"></script>

</body>
</html>
